[submodule "NBA-Analytics-Streamlit-App-with-LangChain-Agent"]
	path = NBA-Analytics-Streamlit-App-with-LangChain-Agent
	url = https://github.com/petermartens98/NBA-Analytics-Streamlit-App-with-LangChain-Agent
